{% extends 'base.html' %} {% block title %} Войти {% endblock %} {% block
content %}

<main class="w-100 p-2 d-flex justify-content-center">
  <div>
    <h1 class="title text-center">Авторизация</h1>
    <form action="/login" method="POST">
      <div>
        {{ form.username.label(class="form-label") }}: {{
        form.username(class="form-control") }}
      </div>
      <div class="mt-1">
        {{ form.password.label(class="form-label") }}: {{
        form.password(class="form-control") }}
      </div>
      {% if form.password.errors %}
      <ul class="errors">
        {% for error in form.password.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %} {{ form.submit(class="btn btn-primary w-100 mt-2") }} {{
      form.csrf_token }}
    </form>
  </div>
</main>
{% endblock %}
